.card-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background-color: transparent;
  min-width: 100%;
  height: 300px;
  margin: 0 0 20px;
}

.card-skill__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 75%;
}

.card-skill__image {
  width: 70%;
  max-width: 200px;
}

.card-skill__title {
  font-size: var(--heading-6);
  text-align: center;
}

.card-skill__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
  width: 100%;
}

.card-skill__info-technologies {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-skill__button-group {
  display: flex;
  gap: 16px;
}

.card-skill--small {
  height: 300px;
}

.card-skill--medium {
  height: 350px;
}

.card-skill--large {
  height: 400px;
}

@media (min-width: 425px) {
  .card-skill {
    min-width: 55%;
  }
}

@media (min-width: 768px) {
  .card-skill {
    min-width: 35%;
  }
}

@media (min-width: 1024px) {
  .card-skill {
    min-width: 20%;
  }
}
