@media (min-width: 320px) {
  /* HEADER */
  .container__logo {
    display: flex;
    flex-direction: row;
  }

  /* MAIN */
  .skills__box__list {
    width: 100%;
  }

  /* BUTTON */
  .button {
    display: flex;
    flex-direction: column;
    transition: background 0.5s;
  }

  /* .button:active {
    background-color: var(--gray-5);
    color: var(--white-fixed);
    border: 1px solid var(--gray-5);
    filter: brightness(0.7);
  } */

  .button:hover {
    filter: none;
  }

  .button span {
    display: none;
  }

  .button--icon {
    width: 20%;
  }

  .button--read-more {
    width: 100%;
  }

  /* SCROLL TO TOP */
  .scroll_to_top {
    position: relative;  
    top: 25px;
    left: 0;
    z-index: 1;
  }
}

@media (min-width: 425px) {
  /* HEADER */

  /* CARDS */
  .list__item {
    min-width: 55%;
  }

  /* FOOTER */
  .footer article {
    height: 100%;
    gap: unset;
  }

  /* BUTTON */
  .button--read-more {
    width: 40%;
  }

  /* BUTTON SCROLL TOP */
  .scroll_to_top {
    position: relative;  
    top: 97px;
    left: 40%;
    z-index: 1;
  }
}

@media (min-width: 768px) {
  /* HEADER */
  .menu__option--header span {
    display: unset;
  }

  /* MAIN */
  .section__welcome h3 {
    text-align: center;
  }

  /* CARDS */
  .list__item {
    min-width: 35%;
  }

  /* MAIN */
  .button--read-more {
    width: 30%;
  }
}

@media (min-width: 1024px) {
  /* HEADER */
  .button--menu {
    display: none;
  }

  .header__menu {
    display: flex;
  }

  /* CARDS */
  .list__item {
    min-width: 25%;
  }

  /* BUTTON */
  .button--read-more {
    width: 20%;
  }
}
