.large__container {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 10px;
}

.header,
.main,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__menu,
.footer__menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header {
  position: fixed;
  background-color: var(--white-fixed);
  width: 100%;
  height: 10vh;
  z-index: 1;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.header article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

/* HEADER - LOGO */
.container__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container__logo h4 {
  font-size: var(--heading-4);
}

/* .header__figure {
} */

.header__image {
  width: 40px;
}

/* HEADER - MENU */
.menu {
  position: relative;
  top: 10vh;
}

.menu--false {
  display: unset;
}

.menu--true {
  display: none;
}

.header__menu {
  display: none;
}

.menu__option--header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.menu__option--header svg {
  width: var(--heading-5);
  height: var(--heading-5);
}

.menu__option--header span {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10vh;
  height: 100%;
}

.section__welcome,
.section__about,
.section__hard__skills,
.section__soft__skills,
.section__projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.section__welcome {
  background-color: var(--primary-color);
  background: radial-gradient(
    circle,
    rgba(34, 194, 95, 1) 19%,
    rgba(34, 194, 133, 1) 100%
  );
  height: 60vh;
  color: var(--white-fixed);
}

.section__welcome article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.section__welcome h1 {
  font-size: var(--heading-1);
  font-weight: bolder;
}

.section__welcome h3 {
  font-size: var(--heading-3);
  font-weight: bolder;
}

/* GLASSMORPHISM */
/* .section__about {
  position: relative;
  top: -40px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.section__about h5 {
  color: var(--white-fixed);
} */

.section__about h5,
.section__hard__skills h5,
.section__soft__skills h5,
.section__projects h5 {
  font-size: var(--heading-5);
}

.section__about article,
.section__hard__skills article,
.section__soft__skills article,
.section__projects article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.skills__box {
  width: 100%;
}

.skills__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.skills__box__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 20px;
}

.list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: transparent;
  min-width: 100%;
  height: 275px;
  margin: 0 0 20px;
}

.list__item span {
  font-size: var(--heading-);
  text-align: center;
}

.list__item figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
}

.list__item img {
  width: 50%;
}

.item--project {
  gap: 5px;
}

.item--project div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 35px;
}

.item--project span {
  font-size: var(--caption);
}

.item--project h6 {
  font-size: var(--heading-6);
  text-align: center;
}

/* .item--project figure {
  max-width: 100%;
} */

.item--project img {
  width: 80%;
}

.item--project p {
  font-size: var(--body-content);
  text-align: center;
}

/* FOOTER */

.footer {
  display: flex;
  background-color: var(--primary-color);
  height: 20vh;
  position: relative;
  top: 10vh;
}

.footer article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: unset;
  gap: 10px;
}

.footer p,
.footer span {
  color: var(--white-fixed);
}

.footer__menu {
}

.menu__option--footer svg {
  font-size: 1.5rem;
}

.menu__option--footer a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--white-fixed);
  text-decoration: none;
}

/* BUTTON */
.button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: var(--button-big-text);
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 10px;
  border-radius: 5px;
  transition: filter 0.5s;
  cursor: pointer;
}

.button:active {
  background-color: var(--gray-4);
  color: var(--white-fixed);
  border: 1px solid var(--gray-4);
  filter: brightness(0.7);
}

.button--primary {
  background-color: var(--primary-color);
  color: var(--white-fixed);
  border: 1px solid var(--primary-color);
}

.button--secondary {
  background-color: var(--white-fixed);
  color: var(--primary-color);
  border: 1px solid var(--white-fixed);
}

.button--small {
  width: 30%;
}

.button--medium {
  justify-content: space-between;
  width: 50%;
}

.button--large {
  width: 100%;
}

.button--icon {
  justify-content: space-between;
  border-radius: 100px;
}

.button--icon a {
  color: var(--white-fixed);
}

.button--icon a:visited {
  color: var(--white-fixed);
}

.scroll_to_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);
  color: var(--white-fixed);

  padding: 5px;

  border: 1px solid var(--white-fixed);
  border-radius: 25px;
  cursor: pointer;
}

.scroll_to_top svg {
  width: 30px;
  height: 30px;
  color: var(--white-fixed);
}

.button--menu {
  background-color: transparent;
  border: 1px solid transparent;
  filter: none;
}

.button--menu svg {
  width: 1.5rem;
  height: 1.5rem;
}

.container > .button--menu,
.container > .button--menu:hover,
.container > .button--menu:active {
  background-color: transparent;
  border: 1px solid transparent;
  filter: none;
}


