.large__container {
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
  padding: 10px;
}

.header, .main, .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__menu, .footer__menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header {
  width: 100vw;
  height: 15vh;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.main {
  height: 70vh;
}

.footer {
  height: 15vh;
}

