.large__container {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  padding: 10px;
}

.header, .main, .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__menu, .footer__menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header {
  position: fixed;
  z-index: 1;
  background-color: var(--background-color-light);
  width: 100%;
  height: 10vh;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.container {

}

.header__figure {

}

.header__image {
  width: 40px;
  cursor: pointer;
}

.header__menu {
  
}

.menu__option--header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.menu__option--header svg {
  width: 1.5rem;
  height: 1.5rem;
}

.menu__option--header span {
  display: none;
}

.main {
  position: relative;
  top: 10vh;
  z-index: -1;
  height: 100vh;
}

.container--flex-column {
  flex-direction: column;
}

.section__about {

}

.about__info {

}

.about__info h2 {
  font-size: var(--heading-2);
}

.about__details {

}

.section__hard__skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hard__skills__info {
  
}

.hard__skills__info h2 {
  font-size: var(--heading-2);
}

.hard__skills__details {

}

.section__soft__skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.soft__skills__info {

}

.soft__skills__info h2 {
  font-size: var(--heading-2);
}

.skills__box {

}

.skills__box__list {

}

.list__item {

}

.soft__skills__details {

}

.footer {
  position: relative;
  top: 10vh;
  height: 15vh;
}

.container--space-around {
  justify-content: space-around;
}

.footer__menu {

}

.menu__option--footer {

}

.menu__option--footer a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--gray-4);
  text-decoration: none;
}

@media (min-width: 1024px) {
  .menu__option--header svg {
    display: none;
  }

  .menu__option--header span {
    display: flex;
  }
}